.*
__pycache__
*.json
*.txt
*.bak
archive/
*.key
*.pubkey
*.pem
logs/
aas-registry-openapi.yaml
build/
pycxids.egg-info/
tmpvenv/
*.log
certificates/
agreementcache/
out_file.jpg
out_file_origin.jpg
*.pkcs8
